<div class="page-header center">
	<h1><img src="{{team.logo}}" />{{team.origin}} {{team.name}}</h1>
</div>
<!-- trying to show events through teams -->

<div>
  <h1 id="bars-explain">Map of bars showing your game:</h1>
</div>

<div id="bar-info-test">
  
</div>


<br>

<div id="map" class="col-centered">
  {{!-- map is rendered here--}}
</div>

{{!-- call js file --}}
<script type="text/javascript" src="/javascripts/maps.js">
</script>
